<ion-header>
  <ion-toolbar>
    <ion-title>
      Add Goals/Tasks
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <form id = "todoListForm" >
      <ion-list>
      <ion-list-header> Add a Goal or Task to the list </ion-list-header>
        <ion-item>
          <ion-input name = "taskName" placeholder = "Enter a task" type = "text" ></ion-input>
        </ion-item>

        <ion-button expand = "full" margin = "10dp" *ngIf="!started" (click)="start" [disabled]="!taskForm.valid"> Add </ion-button>

      </ion-list>

    </form>
</ion-content>

<!-- [formGroup] = "taskForm" -->
<!-- formControlName = "name" -->